@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4A6157;
  --secondary: #F7F6F2;
  --accent: #2E2E2E;
  --mint: #8FD9A8;
  --light: #FAFAFA;
  --white: #FFFFFF;
  --content: #444444;
  --gray: #666666;
  --lightGray: #777777;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--content);
  background: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}
